*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
section.container{
    height: 100%;
    width: 100%;
    background: url('../Image/213775_night-sky-wallpaper.jpg') ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .search-sec{
    width: 90%;
    display: flex;
    height: 40px;
    margin-top: 35px;

}
.search-sec.active{
    display: flex;
    justify-content: space-around;
}
.search-sec .search-box{
    width: 0%;
    height: 35px;
    background-color: aliceblue;
    border-radius: 20px;
    transition: width 0.5s ease-in;
    border: none;
}
.search-sec.active .search-box:focus{
    outline: none;
}
.search-sec.active .search-box{
    width: 70%;
}

.search-sec button{
    width: 100%;
    height: 35px;
    background-color: #02640f ;
    border: none;
    border-radius: 20px;
    color: rgb(219, 219, 219);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s linear;
}
.search-sec.active button{
    width: 40px;
    height: 40px;
    justify-self: end;
    cursor: pointer;

}
.wrapper .item-sec{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    overflow-y : hidden;
}
.item-sec ul {
    height: auto;
    width: 100%;
    overflow-y: auto;
}
.item-sec ul .item {
    height: 35px;
    width: 100%;
    list-style: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}
.item span.text-content{
    background: rgba(21, 21, 26, 0.788);
    padding-left: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    color: #ccc;
    font-size: 1.3rem;
    
}
.item span.zmdi-delete{
    color: red;
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.add-sec{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-sec form {
    width:100%;
}
.add-sec li{
    font-size:1.5rem;
    padding: 5px 10px;
    position: relative;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s linear;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 50%;
}
.add-sec li:hover{
    background: #e205059a;
    
}
.add-sec form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.clicked li{
    opacity: 1;
    top: -10px;
}
.add-sec input{
    width: 100%;
    height:0;
    background-color: aliceblue;
    border-radius: 20px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: rgb(37, 37, 37);
    transition: height 0.5s linear;
    
}
form.clicked input{
    height: 35px;
}
.add-sec input:focus{
    padding-left: 20px;
}
.add-sec button{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(18, 68, 207);
    color: #ccc;
    border-radius: 20px;
    border: none;
    transition: all 0.5s linear;
    cursor: pointer;
}
@media only screen and (min-width:600px){
    .wrapper .search-sec{
        width: 60%;
    }
    .add-sec{
        width: 60%;
    }
}
@media only screen and (min-width:759px){
    .wrapper .search-sec{
        width: 40%;
    }
    .wrapper .item-sec{
        width: 60%;
    }
    .add-sec{
        width: 40%;
    }
}
